// --------------------
// Footer
// --------------------

%footer {

	p {
	  margin-top: 0;
	  margin-bottom: 0;
	  color: $white-01;

	  @include breakpoint(small) {
            text-align: center;
        }
	}
	.footerInfo p {
	  color: $ltgreen-01;
	  font-size: 18px;
	}
	a {
	  color: $white-01;
	}
	ul {
		@include breakpoint(small) {
            text-align: center;
        }
	}
	.copyright,
	ul li,
	ul li a {
	  color: $golden;
	  font-size: 14px;
	}
	.copyright {
	  margin-top: 20px;

	  p {
	  	color: $golden;
		font-size: 14px;
		text-align: left;

		@include breakpoint(small) {
            text-align: center;
        }
	  }
	}
	.social {
		div {
			text-align: center;
			margin-bottom: 20px;
		}
	}
	button {
	  @include border-radius(3px);
	  border: 2px solid $ltgreen-01;
	  background: url("#{$path}/images/btn_arrow_default3.png");
	  background-repeat: no-repeat;
	  background-position: right center;
	  padding: 0 18px 0 0;
	  margin: 20px 15px 0 0;
	  float: left;

	  span {
	  	display: block;
		padding: 1px 5px 0;
		font-size: 20px;
		color: $dkgreen-02;
		background-color: $ltgreen-01;
	  }

	  &:hover {
	  	cursor:pointer;

	  	span {
	  		color: $white-01;
			text-align: center;
	  	}
	  }
	  
	  @include breakpoint(small) {
      	float: none;
      }
	}
}