// --------------------
// Wrapper
// --------------------


body {
	width: 100%;
  	margin: 0;
  	font-family: $roboto;
  	font-size: 18px;
  	font-weight: 300;
  	color: $dkred;
}
h1 {
  	margin: 0 0 40px;
  	padding: 0;
  	font-family: $amatic;
  	font-size: 60px;
  	letter-spacing: 1px;
  	font-weight: 700;
  	text-transform: uppercase;
  	text-align: center;
}
h3 {
	margin: 25px 0 15px;
	padding: 0;
  font-size: 15px;
	font-family: $roboto;
	font-weight: 700;
	color: $ltgreen-01;
	text-transform: uppercase;
	text-align: center;
}
h4 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: $roboto;
    font-weight: 700;
    color: $golden;
    text-transform: uppercase;
    text-align: center;
}

header {

	@extend %header;

}

section {
    width: 100%;
    margin: $m-auto;
    display: block;
    background-image: url("#{$path}/images/bg_texture.png");
    background-repeat: repeat;

    @extend %clear-fix;
}
section h1,
section p{
    text-align: center;
}
footer {
    width: 100%;
    padding: 40px 0;
    background-color: $dkgreen-02;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

.table { display: table; }

.table-cell { display: table-cell; vertical-align: middle; }

footer {

	@extend %footer;

}

i {

    @extend %icon;

}

.icon-pinterest {

    @extend %icon-pinterest;

}

.icon-twitter {

    @extend %icon-twitter;

}

.icon-facebook-alt {

    @extend %icon-facebook-alt;

}
.colorGreen {
    color: $dkgreen-01;
}
.colorPurple {
    color: $purple-01;
}
.colorGold {
    color: $golden;
}
.colorLtGreen {
    color: $ltgreen-02;
}
.colorOrange {
    color: $orange;
}
.social {
    > span {
        float: left;
        padding-top: 40px;
        color: $ltgreen-01;
        font-size: 15px;
    }
}
.text-center {
    text-align: center;
    font-size: 0;
}

/* Default Page Template Styles */
.defaultPage {
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
    h3 {
      text-align: left;
    }
    p {
      text-align: left;
      margin-bottom: 40px;
    }
    ul {
      list-style: initial;
      list-style-position: outside;
      margin: -30px 0 20px 5%;
    }
}