/* Normalize */
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	width: 100%;
	margin: 0 auto;
}
body {
	width: 100%;
  	margin: 0 auto;
  	font-family: 'Roboto Slab';
  	font-size: 18px;
  	font-weight: 300;
  	color: #ffffff;
  	background-image: url("../design/Global Assets/bg_texture.png");
  	background-repeat: repeat;
}
article,
aside
footer,
header,
main,
menu,
nav,
section, {
  	display: block;
}
a {
  	background-color: transparent;
}
a:active,
a:hover {
  	outline: 0;
}
b,
strong {
  	font-weight: bold;
}
dfn {
  	font-style: italic;
}
h1 {
  	margin: 0;
  	padding: 0;
  	font-family: 'Amatic SC';
  	font-size: 60px;
  	letter-spacing: 1px;
  	weight: 700;
  	text-transform: uppercase;
  	text-align: center;
}
h3 {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab';
	font-weight: 700;
	color: #b8c341;
	text-transform: uppercase;
	text-align: center;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  display: block;
  margin: 0 auto;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

/* 15 Column Grid */
.main {
	width: 1200px; margin-left: auto; margin-right: auto;
}
.col {
	position: relative; display: inline; float: left; margin-left: 10px; margin-right: 10px;
}
.alpha {
	margin-left: 0;
}
.omega {
	margin-right: 0;
}
.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
	display: block;
}
.table {
	display: table;
}
.tableCell {
	display: table-cell;
	vertical-align: middle;
}
.main .grid_1 {
	width: 60px;
}
.main .grid_2 {
	width: 140px;
}
.main .grid_3 {
	width: 220px;
}
.main .grid_4 {
	width: 300px;
}
.main .grid_5 {
	width: 380px;
}
.main .grid_6 {
	width: 460px;
}
.main .grid_7 {
	width: 540px;
}
.main .grid_8 {
	width: 620px;
}
.main .grid_9 {
	width: 700px;
}
.main .grid_10 {
	width: 780px;
}
.main .grid_11 {
	width: 860px;
}
.main .grid_12 {
	width: 940px;
}
.main .grid_15 {
	width: 1180px;
}
.main .prefix_1 {
	padding-left: 80px;
}
.main .prefix_2 {
	padding-left: 160px;
}
.main .prefix_3 {
	padding-left: 240px;
}
.main .prefix_4 {
	padding-left: 320px;
}
.main .prefix_5 {
	padding-left: 400px;
}
.main .prefix_6 {
	padding-left: 480px;
}
.main .prefix_7 {
	padding-left: 560px;
}
.main .prefix_8 {
	padding-left: 640px;
}
.main .prefix_9 {
	padding-left: 720px;
}
.main .prefix_10 {
	padding-left: 800px;
}
.main .prefix_11 {
	padding-left: 880px;
}
.main .suffix_1 {
	padding-right: 80px;
}
.main .suffix_2 {
	padding-right: 160px;
}
.main .suffix_3 {
	padding-right: 240px;
}
.main .suffix_4 {
	padding-right: 320px;
}
.main .suffix_5 {
	padding-right: 400px;
}
.main .suffix_6 {
	padding-right: 480px;
}
.main .suffix_7 {
	padding-right: 560px;
}
.main .suffix_8 {
	padding-right: 640px;
}
.main .suffix_9 {
	padding-right: 720px;
}
.main .suffix_10 {
	padding-right: 800px;
}
.main .suffix_11 {
	padding-right: 880px;
}
.main .push_1 {
	left: 80px;
}
.main .push_2 {
	left: 160px;
}
.main .push_3 {
	left: 240px;
}
.main .push_4 {
	left: 320px;
}
.main .push_5 {
	left: 400px;
}
.main .push_6 {
	left: 480px;
}
.main .push_7 {
	left: 560px;
}
.main .push_8 {
	left: 640px;
}
.main .push_9 {
	left: 720px;
}
.main .push_10 {
	left: 800px;
}
.main .push_11 {
	left: 880px;
}
.main .pull_1 {
	left: -80px;
}
.main .pull_2 {
	left: -160px;
}
.main .pull_3 {
	left: -240px;
}
.main .pull_4 {
	left: -320px;
}
.main .pull_5 {
	left: -400px;
}
.main .pull_6 {
	left: -480px;
}
.main .pull_7 {
	left: -560px;
}
.main .pull_8 {
	left: -640px;
}
.main .pull_9 {
	left: -720px;
}
.main .pull_10 {
	left: -800px;
}
.main .pull_11 {
	left: -880px;
}

/* Clearfix */
.clear {
	width: 0; display: block; height: 0; visibility: hidden; clear: both; overflow: hidden;
}
.clearfix:after {
	line-height: 0; width: 0; display: block; height: 0; visibility: hidden; clear: both; font-size: 0; content: ' ';
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

/* Header / Nav */
header {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0 0;
	background-color: #707928;
	text-align: center;
	background-image: url("../design/Home/Assets/bg_home_header_Texture.png");
	background-repeat: repeat;
	height: 180px;
}
nav {
	font-family: 'Amatic SC';
	font-size: 30px;
	letter-spacing: 1px;
	weight: 700;
	display: inline-block;
	text-align: center;
	position: relative;
}
nav.main {
	background-color: #707928;
}
nav ul {
	list-style: none;
	padding: 45px 0 0;
}
nav ul li {
	float: left;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	padding: 0 25px;

}
nav ul li a {
	text-decoration: none;
	color: #ffffff;
	width: 33%;
}
nav ul li a:hover {
	color: #98aa33;
}
nav img {
	float: left;
	width: 100%;
}
section {
	width: 100%;
	margin:0 auto;
	display: block;
}
section h1,
section p{
	text-align: center;
}
section.homeMain {
	background-color: #707928;
	padding-bottom: 60px;
}
section.homeOne {
	background-color: #f8f2e7
}
section.homeOne .col,
section.homeTwo .col {
	height: 620px;
	padding: 30px 0;

}
section.homeOne p,
section.homeTwo p {
	color: #562d22;
	text-align: center;
	margin-bottom: 40px;
}
.colorGreen {
	color: #707928;
}
button {
	background: url("../design/Global Assets/btn_arrow_default2.png");
	background-repeat: no-repeat;
	background-position: right center;
	border-radius: 7px;
	border: 2px solid #562d22;
	padding: 0 36px 0 0;
	color: #562d22;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Roboto Slab';
	display: block;
	margin: 0 auto;
}
button span {
	display: block;
	padding: 8px 20px;
}
button:hover span{
	background-color: #562d22;
	color: #ffffff;
}
.rightDesk {
	float: right;
}

/* Mobile */
@media (max-width:480px) {
  .rightDesk {
  	float: none;
  }
}