/* --------------------
   Normalize
   -------------------- */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;width:100%;margin:0 auto}article,aside
footer,header,main,menu,nav,section,{display:block}a{background-color:transparent}a:active,a:hover{outline:0}small{font-size:80%}img{border:0;display:block;margin:0}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* --------------------
   Global
   -------------------- */

body {
	width: 100%;
  	margin: 0;
  	font-family: 'Roboto Slab';
  	font-size: 18px;
  	font-weight: 300;
  	color: #ffffff;
  	background-image: url("../design/Global Assets/bg_texture.png");
  	background-repeat: repeat;
}

h1 {
  	margin: 0;
  	padding: 0;
  	font-family: 'Amatic SC';
  	font-size: 60px;
  	letter-spacing: 1px;
  	weight: 700;
  	text-transform: uppercase;
  	text-align: center;
}
h3 {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab';
	font-weight: 700;
	color: #b8c341;
	text-transform: uppercase;
	text-align: center;
}

/* --------------------
   Grid System
   -------------------- */

.main { width: 100%; max-width: 1200px; margin-left: auto; margin-right: auto; }

.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }
.row { *zoom: 1; }

.col { position: relative; float: left; margin: 0 0.83333%; }

.centered { float: none; margin-left: auto; margin-right: auto; }

.alpha { margin-left: 0; }

.omega { margin-right: 0; }

.table { display: table; }

.table-cell { display: table-cell; vertical-align: middle; }

.grid_1_large {
  width: 5%;
}

.grid_2_large {
  width: 11.66667%;
}

.grid_3_large {
  width: 18.33333%;
}

.grid_4_large {
  width: 25%;
}

.grid_5_large {
  width: 31.66667%;
}

.grid_6_large {
  width: 38.33333%;
}

.grid_7_large {
  width: 45%;
}

.grid_8_large {
  width: 51.66667%;
}

.grid_9_large {
  width: 58.33333%;
}

.grid_10_large {
  width: 65%;
}

.grid_11_large {
  width: 71.66667%;
}

.grid_12_large {
  width: 78.33333%;
}

.grid_13_large {
  width: 85%;
}

.grid_14_large {
  width: 91.66667%;
}

.grid_15_large {
  width: 98.33333%;
}

@media (max-width: 1019px) {
 
  .grid_1_medium {
    width: 5%;
  }
 
  .grid_2_medium {
    width: 11.66667%;
  }
 
  .grid_3_medium {
    width: 18.33333%;
  }
 
  .grid_4_medium {
    width: 25%;
  }
 
  .grid_5_medium {
    width: 31.66667%;
  }
 
  .grid_6_medium {
    width: 38.33333%;
  }
 
  .grid_7_medium {
    width: 45%;
  }
 
  .grid_8_medium {
    width: 51.66667%;
  }
 
  .grid_9_medium {
    width: 58.33333%;
  }
 
  .grid_10_medium {
    width: 65%;
  }
 
  .grid_11_medium {
    width: 71.66667%;
  }
 
  .grid_12_medium {
    width: 78.33333%;
  }
 
  .grid_13_medium {
    width: 85%;
  }
 
  .grid_14_medium {
    width: 91.66667%;
  }
 
  .grid_15_medium {
    width: 98.33333%;
  }

}

@media (max-width: 640px) {
 
  .grid_1_small {
    width: 5%;
  }
 
  .grid_2_small {
    width: 11.66667%;
  }
 
  .grid_3_small {
    width: 18.33333%;
  }
 
  .grid_4_small {
    width: 25%;
  }
 
  .grid_5_small {
    width: 31.66667%;
  }
 
  .grid_6_small {
    width: 38.33333%;
  }
 
  .grid_7_small {
    width: 45%;
  }
 
  .grid_8_small {
    width: 51.66667%;
  }
 
  .grid_9_small {
    width: 58.33333%;
  }
 
  .grid_10_small {
    width: 65%;
  }
 
  .grid_11_small {
    width: 71.66667%;
  }
 
  .grid_12_small {
    width: 78.33333%;
  }
 
  .grid_13_small {
    width: 85%;
  }
 
  .grid_14_small {
    width: 91.66667%;
  }
 
  .grid_15_small {
    width: 98.33333%;
  }

}

/* --------------------
   Helpers
   -------------------- */

.pull-right { float: right; }
.pull-left { float: right; }

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* --------------------
   Header / Navigation
   -------------------- */

header {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0 0;
	background-color: #707928;
	text-align: center;
	background-image: url("../design/Home/Assets/bg_home_header_Texture.png");
	background-repeat: repeat;
	height: 180px;
}
nav {
	font-family: 'Amatic SC';
	font-size: 30px;
	letter-spacing: 1px;
	weight: 700;
	display: inline-block;
	text-align: center;
	position: relative;
}
nav.main {
	background-color: #707928;
}
nav ul {
	list-style: none;
	padding: 45px 0 0;
}
nav ul li {
	float: left;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	padding: 0 25px;

}
nav ul li a {
	text-decoration: none;
	color: #ffffff;
	width: 33%;
}
nav ul li a:hover {
	color: #98aa33;
}
nav img {
	float: left;
	width: 100%;
}

/* --------------------
   Home
   -------------------- */

section {
	width: 100%;
	margin:0 auto;
	display: block;
}
section h1,
section p{
	text-align: center;
}
section.homeMain {
	background-color: #707928;
	padding-bottom: 60px;
}
section.homeOne {
	background-color: #f8f2e7
}
section.homeOne .col,
section.homeTwo .col {
	height: 620px;
	padding: 30px 0;

}
section.homeOne p,
section.homeTwo p {
	color: #562d22;
	text-align: center;
	margin-bottom: 40px;
}
.colorGreen {
	color: #707928;
}
.colorPurple {
	color: #764968;
}
.colorGold {
	color: #d1ab5c;
}
.colorLtGreen {
	color: #98aa33;
}
.colorOrange {
	color: #e4a314;
}
button {
	background: url("../design/Global Assets/btn_arrow_default2.png");
	background-repeat: no-repeat;
	background-position: right center;
	border-radius: 7px;
	border: 2px solid #562d22;
	padding: 0 36px 0 0;
	color: #562d22;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Roboto Slab';
	display: block;
	margin: 0 auto;
}
button span {
	display: block;
	padding: 8px 20px;
}
button:hover span{

	color: #ffffff;
}
button:hover span.bgOrange{
	background-color: #E4A314;
}
button:hover span.bgGreen {
	background-color: #707928;
}
button:hover span.bgPurple {
	background-color: #764968;
}
button:hover span.bgGold {
	background-color: #d1ab5c;
}
button:hover span.bgLtGreen {
	background-color: #98aa33;
}
button:hover span.bgOrange {
	background-color: #e4a314;
}

/* Mobile */
@media (max-width:480px) {
  .pull-right {
  	float: none;
  }
  .pull-left {
  	float: none;
  }
}