// --------------------
// Footer
// --------------------

%footer {

	p {
	  margin-top: 0;
	  margin-bottom: 0;
	  color: $white-01;
	}
	.footerInfo p {
	  color: $ltgreen-01;
	  font-size: 18px;
	}
	a {
	  color: $white-01;
	}
	.copyright,
	ul li,
	ul li a {
	  color: $golden;
	  font-size: 14px;
	}
	.copyright {
	  margin-top: 20px;
	}
	button {
	  @include border-radius(3px);
	  border: 2px solid $ltgreen-01;
	  background: url("../images/btn_arrow_default3.png");
	  background-repeat: no-repeat;
	  background-position: right center;
	  padding: 0 18px 0 0;
	  margin: 20px 15px 0 0;
	  float: left;
	}
	button span {
	  display: block;
	  padding: 4px 5px 0;
	  font-size: 20px;
	  color: $dkgreen-02;
	  background-color: $ltgreen-01;
	}
	button:hover {
		cursor: pointer;
	}
	button:hover span{
	  color: $white-01;
	  text-align: center;
	}
	.copyright p {
	  color: $golden;
	  font-size: 14px;
	  text-align: left;
	}
	span.copyright {
	  margin-top: 20px;
	}

}