// --------------------
// Wrapper
// --------------------


body {
	width: 100%;
  	margin: 0;
  	font-family: $roboto;
  	font-size: 18px;
  	font-weight: 300;
  	color: $white-01;
  	background-image: url("../images/bg_texture.png");
  	background-repeat: repeat;
}
h1 {
  	margin: 0 0 40px;
  	padding: 0;
  	font-family: $amatic;
  	font-size: 60px;
  	letter-spacing: 1px;
  	font-weight: 700;
  	text-transform: uppercase;
  	text-align: center;
}
h3 {
	margin: 0;
	padding: 0;
	font-family: $roboto;
	font-weight: 700;
	color: $ltgreen-01;
	text-transform: uppercase;
	text-align: center;
}

header {

	@extend %header;

}

section {
    width: 100%;
    margin: $m-auto;
    display: block;
}
section h1,
section p{
    text-align: center;
}
img {
    border: 0;
    margin: $m-auto;
}
footer {
    width: 100%;
    padding: 40px 0;
    background-color: $dkgreen-02;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

.table { display: table; }

.table-cell { display: table-cell; vertical-align: middle; }

footer {

	@extend %footer;

}

i {

    @extend %icon;

}

.icon-pinterest {

    @extend %icon-pinterest;

}

.icon-twitter {

    @extend %icon-twitter;

}

.icon-facebook-alt {

    @extend %icon-facebook-alt;

}