/* --------------------
   Normalize
   -------------------- */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;width:100%;margin:0 auto}article,aside
footer,header,main,menu,nav,section,{display:block}a{background-color:transparent}a:active,a:hover{outline:0}small{font-size:80%}img{border:0;display:block;margin:0}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* --------------------
   Global
   -------------------- */

body {
	width: 100%;
  	margin: 0;
  	font-family: 'Roboto Slab';
  	font-size: 18px;
  	font-weight: 300;
  	color: #ffffff;
  	background-image: url("../../design/Global Assets/bg_texture.png");
  	background-repeat: repeat;
}
h1 {
  	margin: 0;
  	padding: 0;
  	font-family: 'Amatic SC';
  	font-size: 60px;
  	letter-spacing: 1px;
  	weight: 700;
  	text-transform: uppercase;
  	text-align: center;
}
h3 {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab';
	font-weight: 700;
	color: #b8c341;
	text-transform: uppercase;
	text-align: center;
}
section {
  width: 100%;
  margin:0 auto;
  display: block;
}
section h1,
section p{
  text-align: center;
}
img {
  border: 0;
  margin: 0 auto;
}
footer {
  width: 100%;
  padding: 40px 0;
  background-color: #757E28;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/* --------------------
   Grid System
   -------------------- */

.main { width: 100%; max-width: 1200px; margin-left: auto; margin-right: auto; }

.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }
.row { *zoom: 1; }

.col { position: relative; float: left; margin: 0 0.83333%; }

.centered { float: none; margin-left: auto; margin-right: auto; }

.alpha { margin-left: 0; }

.omega { margin-right: 0; }

.table { display: table; }

.table-cell { display: table-cell; vertical-align: middle; }

.large_1 {
  width: 5%;
}

.large_2 {
  width: 11.66667%;
}

.large_3 {
  width: 18.33333%;
}

.large_4 {
  width: 25%;
}

.large_5 {
  width: 31.66667%;
}

.large_6 {
  width: 38.33333%;
}

.large_7 {
  width: 45%;
}

.large_8 {
  width: 51.66667%;
}

.large_9 {
  width: 58.33333%;
}

.large_10 {
  width: 65%;
}

.large_11 {
  width: 71.66667%;
}

.large_12 {
  width: 78.33333%;
}

.large_13 {
  width: 85%;
}

.large_14 {
  width: 91.66667%;
}

.large_15 {
  width: 98.33333%;
}

@media (max-width: 1019px) {
 
  .medium_1 {
    width: 5%;
  }
 
  .medium_2 {
    width: 11.66667%;
  }
 
  .medium_3 {
    width: 18.33333%;
  }
 
  .medium_4 {
    width: 25%;
  }
 
  .medium_5 {
    width: 31.66667%;
  }
 
  .medium_6 {
    width: 38.33333%;
  }
 
  .medium_7 {
    width: 45%;
  }
 
  .medium_8 {
    width: 51.66667%;
  }
 
  .medium_9 {
    width: 58.33333%;
  }
 
  .medium_10 {
    width: 65%;
  }
 
  .medium_11 {
    width: 71.66667%;
  }
 
  .medium_12 {
    width: 78.33333%;
  }
 
  .medium_13 {
    width: 85%;
  }
 
  .medium_14 {
    width: 91.66667%;
  }
 
  .medium_15 {
    width: 98.33333%;
  }

}

@media (max-width: 640px) {
 
  .small_1 {
    width: 5%;
  }
 
  .small_2 {
    width: 11.66667%;
  }
 
  .small_3 {
    width: 18.33333%;
  }
 
  .small_4 {
    width: 25%;
  }
 
  .small_5 {
    width: 31.66667%;
  }
 
  .small_6 {
    width: 38.33333%;
  }
 
  .small_7 {
    width: 45%;
  }
 
  .small_8 {
    width: 51.66667%;
  }
 
  .small_9 {
    width: 58.33333%;
  }
 
  .small_10 {
    width: 65%;
  }
 
  .small_11 {
    width: 71.66667%;
  }
 
  .small_12 {
    width: 78.33333%;
  }
 
  .small_13 {
    width: 85%;
  }
 
  .small_14 {
    width: 91.66667%;
  }
 
  .small_15 {
    width: 98.33333%;
  }

}

/* --------------------
   Helpers
   -------------------- */

.pull-right { float: right; }
.pull-left { float: left; }

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* --------------------
   Header / Navigation
   -------------------- */

header {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0 0;
	background-color: #707928;
	text-align: center;
	background-image: url("../../design/Home/Assets/bg_home_header_Texture.png");
	background-repeat: repeat;
	height: 180px;
}
nav {
	font-family: 'Amatic SC';
	font-size: 30px;
	letter-spacing: 1px;
	weight: 700;
	display: inline-block;
	text-align: center;
	position: relative;
}
nav.main {
	background-color: #707928;
  padding-top: 50px;
}
nav ul {
	list-style: none;
	padding: 20px 0 25px;
}
nav ul li {
	float: left;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	padding: 0 25px;

}
nav ul li a {
	text-decoration: none;
	color: #ffffff;
	width: 33%;
}
nav ul li a:hover {
	color: #98aa33;
}
nav img {
	float: left;
	width: 100%;
}

/* --------------------
   Footer
   -------------------- */

footer p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.footerInfo p {
  color: #B8C341;
  font-size: 18px;
}
footer a {
  color: #ffffff;
}
footer .copyright,
footer ul li,
footer ul li a {
  color: #D1AB5C;
  font-size: 14px;
}
footer .copyright {
  margin-top: 20px;
}
footer button {
  border-color: #B8C341;
  border-radius: 3px;
  background: url("../../design/Global Assets/btn_arrow_default3.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding: 0 18px 0 0;
  margin: 20px 15px 0 0;
  float: left;
}
footer button span {
  display: block;
  padding: 4px 10px 0;
  font-size: 20px;
  color: #757E28;
  background-color: #B8C341;
}
footer button:hover span{
  color: #ffffff;
  text-align: center;
}
footer .copyright p {
  color: #D1AB5C;
  font-size: 14px;
  text-align: left;
}
footer span.copyright {
  margin-top: 20px;
}
/* Mobile */
@media (max-width:480px) {
  .pull-right {
  	float: none;
  }
  .pull-left {
  	float: none;
  }
}