@import "app/base/core";

// --------------------
// About Us
// --------------------

body {

	background-color: $tanned;
	
}
	
section {
	padding-bottom: 40px;

	h1,
	h6 {
		color: $ltgreen-01;
	}

	p {
		font-size: 16px;
		text-align: left;
		padding: 0 10%;
		margin-bottom: 20px;

		@include breakpoint(small) {
			margin-top: 40px;
			margin-bottom: 0;
		}
	}

	h6 {
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 20px 15% 0;
		text-align: center;
		margin-top: 0;

		span {
			font-size: 16px;
			font-weight: 300;
			text-transform: none;
		}
	}

	&.history {
		img {
			width: 55%;
		}

		.historyImageLg {
			@include breakpoint(small) {
				display: none;
			}
		}
		.historyImageSm {
			display: none;

			@include breakpoint(small) {
				display: block;
			}
		}
	}

	&.aboutUs {
		background-color: $white-01;
		padding-top: 80px;
		padding-bottom: 80px;

		h1 {
			padding: 0 10%;
			text-align: left;

			@include breakpoint(small) {
				text-align: center;
				margin-top: 40px;
			}
		}

		h6 {
			padding: 30px 20% 0;
		}
		img {
			@include breakpoint(smaller) {
				width: 75%;
			}
		}

		.btn {
			float: left;

			span {
				color: $dkred;
			}

			&:hover span {
				color: $white-01;
				background: $ltgreen-02;
			}
		}
	}
}

img {
	margin: $m-auto;
}