@import "app/base/core";

// --------------------
// Contact
// --------------------

body {

	background-color: $white-01;

}
	
section {
	padding-bottom: 40px;

	h1 {
		color: $orange;
	}

	p {
		font-size: 16px;
		text-align: center;
		padding: 0 10%;
		margin-bottom: 20px;
	}

	h5 {
		font-size: 18px;
		font-weight: 300;
		color: $orange;
		text-align: center;
	}

	h6 {
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 0;

		span {
			font-size: 18px;
			font-weight: 300;
		}
	}

	&.contactForm {
		background-color: $tanned;
		padding-top: 40px;

		p {
			padding: 0;
			margin: 0;
		}

		span {
			color: $orange;
		}

		a {
			color: $dkred;
		}

		.gform_footer input[type=submit] {
			margin-top: 20px;
			margin-bottom: 30px;
			float: right;
			@include border-radius(5px);
		    background: transparent;
		    border: 2px solid $dkred;
		    padding: 12px 0;
		    color: $dkred;
		    font-size: 15px;
		    font-weight: 700;
		    text-transform: uppercase;
		    font-family: $roboto;
		    display: block;
		    margin: $m-auto;
		    cursor: pointer;

			&:hover {
				color: $white-01;
				background-color: $golden;
			}
		}

		form {
			text-align: center;

			p {
				text-align: left;
				margin: 0 0 15px;
			}
		}

		input {
			@include border-radius(5px);
			width: 100%;
			border: 2px solid $golden;
			margin-top: 10px;
			padding: 5px;
			color: $dkred;
			font-size: 20px;
			font-weight: 300;
			line-height: 20px;
			font-family: $roboto;
			outline: none;
		}

		h6 {
			color: $orange;
			font-size: 14px;
			font-weight: 300;
			text-align: left;
			text-transform: initial;
		}

		.large_6 {
			 float: none;
			 display: inline-block;
		}
		
		.gform_wrapper {
			label.gfield_label + div.ginput_container,
			input.large {
				margin-top: 0;
				margin-bottom: 15px;
			}
			input.large {
				width: 95%;
			}
			.gfield_label {
				margin-bottom: 5px;
				margin-top: 0;
				width: 95%;
				text-align: left;
			}
			.gform_footer {
				width: 10%;
				float: right;
				margin-right: 12.5%;
				margin-top: 0;
			}
			div.validation_error {
				width:45%;
				margin:0 auto;
			}
			li.gfield.gfield_error.gfield_contains_required {
				width: 60%;
			}
		}

	}
}

img {
	margin: $m-auto;
}