@import "app/base/core";

// --------------------
// Home
// --------------------

$colors-map: (
	'orange': $orange,
	'green': $dkgreen-01,
	'purple': $purple-01,
	'gold': $golden,
	'ltgreen': $ltgreen-01
);

header {
	background-image: url("#{$path}/images/LeanGreenNav_full.png");
	background-repeat: no-repeat;
	background-color: $dkgreen-01;
	background-position: center center;
	height: 180px;
	padding-top: 20px;
	margin-bottom: 0;

	@include breakpoint(medlarge) {
		background-image: url("#{$path}/images/LeanGreenNav_medLarge.png");
	}

	@include breakpoint(medium) {
		background-image: url("#{$path}/images/LeanGreenNav_med.png");		
	}

	@include breakpoint(small) {

		height: auto;
		padding-top: 0;

	}

	.logoHome a {
		top: -65px;

		@include breakpoint(medlarge) {
			top: -55px;
		}

		@include breakpoint(medium) {
			top: -40px;
		}
	}

	.headerSocial {
		top: 0;
	}
}

nav {
	&.main {
		padding-top: 50px;

		@include breakpoint(small) {

			padding-top: 0;

		}

		ul {
			padding: 20px 0 25px;

			@include breakpoint(small) {

				padding: 0;

			}
		}
	}
}

.logoHome {
	margin-top: -45px;

	@media all and (-ms-high-contrast:none) {
		top: -45px !important;
	}

	a {
		width: 6.7em !important;
	}
}
.mobileHome {
	display: none;

	@include breakpoint(small) {
		display: block;
	}
}

// Generate Theme Classes
@include generate-themes($colors-map);


section {
	&.homeMain {	
		background-color: $dkgreen-01;
		color: $white-01;
		padding-bottom: 60px;
		@include breakpoint(small) {
			
			padding-top: 25px;

		}
	}
	
	&.alt-bg {
		background-color: $tanned;
	}

	&.section {

		text-align: center;

		.col {
			min-height: 620px;
			height: 620px;
			padding: 30px 0;

			@include breakpoint(small) {

				min-height: 0;

			}
		}

		p {
			color: $dkred;
			text-align: center;
			margin-bottom: 40px;

			@include breakpoint(small) {
				margin-right: 5%;
				margin-left: 5%;
			}	
		}
	}

	img {

		width: auto;
		max-width: 100%;
		height: auto;
		margin: 0 auto;

	}

}

nav ul.leftNav {
	background-image: url("#{$path}/images/nav_bgborder_left.png");
}
nav ul.rightNav {
	background-image: url("#{$path}/images/nav_bgborder_right.png");
}
nav ul.leftNav,
nav ul.rightNav {
	background-repeat: no-repeat;
}