@import "app/base/core";

// --------------------
// Who We Serve
// --------------------


body {
	background-color: $white-01;
}
	
header {
	background: #707928; /* Old browsers */
	background: -moz-linear-gradient(top,  #707928 0%, #707928 40%, #ffffff 40%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707928), color-stop(40%,#707928), color-stop(40%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #707928 0%,#707928 40%,#ffffff 40%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #707928 0%,#707928 40%,#ffffff 40%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #707928 0%,#707928 40%,#ffffff 40%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #707928 0%,#707928 40%,#ffffff 40%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707928', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.btn {
	background: url("#{$path}/images/btn_arrow_down.png");
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0 47px 0 0;
	margin-top: 5px;

	&:hover span{
		background-color: $dkgreen-02;
	}
}

section {

	h1 {
		color: $dkgreen-02;
	}

	p,
	h6 {
		padding:0 8%;
	}

	p {
		font-size: 16px;

		img {
			margin: 0 0 10px;
			clear: both;
		}
	}

	a {
		color: $dkred;
		font-weight: 700;
	}

	h6 {
		color: $purple-01;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;

		&:before {
			content: '-\a';
		}
	}

	&.clients {
		background-image: url("#{$path}/images/bg_roads.png");
		background-repeat: no-repeat;
		background-position: bottom center;
		margin-bottom: 40px;

		@include breakpoint(small) {
			background-image: none;
		}

		.row {
			margin-bottom: 0;
		}

		.centered {
			position: relative;
			height: 350px;

			@include breakpoint(small) {
				height: auto;
			}
		}

		.clientContainer {
			position: absolute;

			@include breakpoint(small) {
				position: relative;
				padding-bottom: 35px;
			}

			p {
				padding: 0;
			}
		}

		.corporate-clients {
			bottom: 19%;
			left: 17%;
			
			@include breakpoint(small) {
				bottom: 0;
				left: 0;
			}
		}

		.schools-colleges {
			bottom: 2%;
			right: 13%;

			@include breakpoint(small) {
				bottom: 0;
				right: 0;
			}
		}

		.ymca-health-clubs {
			top: 0%;
			left: 8%;

			@include breakpoint(small) {
				top: 0;
				left: 0;
			}
		}

		.park-districts {
			top: 25%;
			right: 7%;

			@include breakpoint(small) {
				top: 0;
				right: 0;
			}
		}

		.hospitals-clinics {
			top: -12%;
			left: 19%;

			@include breakpoint(small) {
				top: 0;
				left: 0;
			}
		}

		.your-location {
			top: 18%;
			right: 13%;

			@include breakpoint(small) {
				top: 0;
				right: 0;
			}
		}
	}

}

img {
	margin: $m-auto;
}