@import "app/base/core";

// --------------------
// Who We Serve
// --------------------


body {
	background-color: $white-01;
}

.btn {
	background: url("#{$path}/images/btn_arrow_down.png");
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0 47px 0 0;
	margin-top: 5px;

	&:hover span{
		background-color: $dkgreen-02;
	}
}

section {

	h1 {
		color: $dkgreen-02;
	}

	p,
	h6 {
		padding:0 8%;
	}

	p {
		font-size: 16px;

		img {
			margin: 0 0 10px;
			clear: both;
		}
	}

	a {
		color: $dkred;
		font-weight: 700;
	}

	h6 {
		color: $purple-01;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;

		&:before {
			content: '-\a';
		}
	}

	&.clients {
		background-image: url("#{$path}/images/bg_roads.png");
		background-repeat: no-repeat;
		background-position: bottom center;
		margin-bottom: 40px;

		@include breakpoint(small) {
			background-image: none;
		}

		.row {
			margin-bottom: 0;
		}

		.centered {
			position: relative;
			height: 350px;

			@include breakpoint(small) {
				height: auto;
			}
		}

		.clientContainer {
			position: absolute;

			@include breakpoint(small) {
				position: relative;
				padding-bottom: 35px;
			}

			p {
				padding: 0;
			}
		}

		.corporate-clients {
			top: 19%;
			left: 17%;
			
			@include breakpoint(small) {
				bottom: 0;
				left: 0;
			}
		}

		.schools-colleges {
			top: 36%;
			right: 13%;

			@include breakpoint(small) {
				bottom: 0;
				right: 0;
			}
		}

		.ymca-health-clubs {
			top: 0%;
			left: 8%;

			@include breakpoint(small) {
				top: 0;
				left: 0;
			}
		}

		.park-districts {
			top: 25%;
			right: 7%;

			@include breakpoint(small) {
				top: 0;
				right: 0;
			}
		}

		.hospitals-clinics {
			top: -12%;
			left: 19%;

			@include breakpoint(small) {
				top: 0;
				left: 0;
			}
		}

		.your-location {
			top: 18%;
			right: 13%;

			@include breakpoint(small) {
				top: 0;
				right: 0;
			}
		}

		.content {
			position: relative;
			display: none;
			background: #f2d18a;
			border: 2px solid #562D22;
			border-top: none;
			width: 170px;
			margin: 0 auto;
			padding: 15px;
			z-index: 2;
		}

		.reveal .content {
			display: block;
		}
	}

}

img {
	margin: $m-auto;
}