@import "app/base/core";

// --------------------
// Vending Solutions
// --------------------

body {
	background-color: $tanned;
}
		
section {
	margin-bottom: 40px;

	h1 {
		color: $golden;
	}

	p {
		color: $dkred;
		font-size: 16px;
		padding: 0 10%;
	}

	img {
		width: 100%;
	}

	.large_5 p {
		text-align: justify;
	}

	.row {

		@include breakpoint(small) {
			margin-bottom: 0;
		}

	}

	.col {

		@include breakpoint(small) {
			margin-bottom: 40px;
		}

	}
}