@import "app/base/core";

// --------------------
// Testimonials
// --------------------

body {
	background-color: $tanned;
}
	
section {
	padding-bottom: 40px;

	h1 {
		color: $purple-01;
	}

	p,
	h6 {
		padding:0 10%;
	}

	p {
		font-size: 16px;

		img {
			margin: 0 0 10px;
			clear: both;
		}
	}

	h6 {
		color: $purple-01;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;

		&:before {
			content: '-\a';
		}
	}

	&.clientContainer {
		padding-top: 40px;
		background-color: $white-01;

		img {
			margin-bottom: 20px;
			max-width: 100%;
			height: auto;
		}
	}

	.large_5 p {
		text-align: justify;
	}

}

img {
	margin: $m-auto;
}

