/* line 34, grid.scss */
.main {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* line 36, grid.scss */
.col {
  position: relative;
  float: left;
  margin: 0 0.83333%;
}

/* line 43, grid.scss */
.grid_1_large {
  width: 5%;
}

/* line 43, grid.scss */
.grid_2_large {
  width: 11.66667%;
}

/* line 43, grid.scss */
.grid_3_large {
  width: 18.33333%;
}

/* line 43, grid.scss */
.grid_4_large {
  width: 25%;
}

/* line 43, grid.scss */
.grid_5_large {
  width: 31.66667%;
}

/* line 43, grid.scss */
.grid_6_large {
  width: 38.33333%;
}

/* line 43, grid.scss */
.grid_7_large {
  width: 45%;
}

/* line 43, grid.scss */
.grid_8_large {
  width: 51.66667%;
}

/* line 43, grid.scss */
.grid_9_large {
  width: 58.33333%;
}

/* line 43, grid.scss */
.grid_10_large {
  width: 65%;
}

/* line 43, grid.scss */
.grid_11_large {
  width: 71.66667%;
}

/* line 43, grid.scss */
.grid_12_large {
  width: 78.33333%;
}

/* line 43, grid.scss */
.grid_13_large {
  width: 85%;
}

/* line 43, grid.scss */
.grid_14_large {
  width: 91.66667%;
}

/* line 43, grid.scss */
.grid_15_large {
  width: 98.33333%;
}

@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_1_medium {
    width: 5%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_2_medium {
    width: 11.66667%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_3_medium {
    width: 18.33333%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_4_medium {
    width: 25%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_5_medium {
    width: 31.66667%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_6_medium {
    width: 38.33333%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_7_medium {
    width: 45%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_8_medium {
    width: 51.66667%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_9_medium {
    width: 58.33333%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_10_medium {
    width: 65%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_11_medium {
    width: 71.66667%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_12_medium {
    width: 78.33333%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_13_medium {
    width: 85%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_14_medium {
    width: 91.66667%;
  }
}
@media (max-width: 1019px) {
  /* line 54, grid.scss */
  .grid_15_medium {
    width: 98.33333%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_1_small {
    width: 5%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_2_small {
    width: 11.66667%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_3_small {
    width: 18.33333%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_4_small {
    width: 25%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_5_small {
    width: 31.66667%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_6_small {
    width: 38.33333%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_7_small {
    width: 45%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_8_small {
    width: 51.66667%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_9_small {
    width: 58.33333%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_10_small {
    width: 65%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_11_small {
    width: 71.66667%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_12_small {
    width: 78.33333%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_13_small {
    width: 85%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_14_small {
    width: 91.66667%;
  }
}
@media (max-width: 640px) {
  /* line 67, grid.scss */
  .grid_15_small {
    width: 98.33333%;
  }
}
/* line 73, grid.scss */
.centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
