@import "app/base/core";

// --------------------
// Home
// --------------------

section.homeMain {
	background-color: $dkgreen-01;
	padding-bottom: 60px;
}
section.homeOne {
	background-color: $tanned;
}
section.homeOne .col,
section.homeTwo .col {
	height: 620px;
	padding: 30px 0;

}
section.homeOne p,
section.homeTwo p {
	color: $dkred;
	text-align: center;
	margin-bottom: 40px;
}
.colorGreen {
	color: $dkgreen-01;
}
.colorPurple {
	color: $purple;
}
.colorGold {
	color: $golden;
}
.colorLtGreen {
	color: $ltgreen-02;
}
.colorOrange {
	color: $orange;
}
button {
	@include border-radius(7px);

	background: url("../../images/btn_arrow_default2.png");
	background-repeat: no-repeat;
	background-position: right center;
	border: 2px solid $dkred;
	padding: 0 36px 0 0;
	color: $dkred;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: $roboto;
	display: block;
	margin: $m-auto;
}
button span {
	display: block;
	padding: 8px 20px;
}
button:hover {
	cursor: pointer;
}
button:hover span{
	color: $white-01;
}
button:hover span.bgOrange{
	background-color: $orange;
}
button:hover span.bgGreen {
	background-color: $dkgreen-01;
}
button:hover span.bgPurple {
	background-color: $purple;
}
button:hover span.bgGold {
	background-color: $golden;
}
button:hover span.bgLtGreen {
	background-color: $ltgreen-02;
}
button:hover span.bgOrange {
	background-color: $orange;
}
nav ul.leftNav {
	background-image: url("../../images/nav_bgBorder_left.png");
}
nav ul.rightNav {
	background-image: url("../../images/nav_bgBorder_right.png");
}
nav ul.leftNav,
nav ul.rightNav {
	background-repeat: no-repeat;
}
.logoHome {
	margin-top: -45px;
}